<div class="main-container">

  <header>
    <nav *ngIf="currentUser" class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/">
        <img id="nav-logo" src="../assets/icon-pangolin.jpg" alt="pangolin logo">
      </a>

      <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="searchSubmit()">
        <input class="form-control mr-sm-2" type="search" formControlName="username" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <div class="navbar-nav ml-auto">
        <div class="d-inline-block" ngbDropdown #navDrop="ngbDropdown">
          <button class="btn btn-primary" id="dropdownManual" ngbDropdownAnchor (focus)="navDrop.open()">
            {{currentUser.username}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem routerLink="/settings">
              <fa-icon [icon]="faCogs"></fa-icon>
              Settings
            </button>
            <button ngbDropdownItem (click)="logout()">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
              Logout
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <div class="bg-dark text-center text-light p-2">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span>© All right Reversed. Pangolin</span>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
